h1 {
    color:#ffffff;
    padding-top:25px;
    padding-bottom:10px;
}

h4 {
    margin-top:25px;
    color:#FFFFFF;
}

p {
    color:#ffffff
}

.Skill {
    margin: auto;
    width: 50%;
    padding-top:10px;
    width:200px;
    height:25px;
}

.skills { 
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

