.actions {
    border-top:solid;
    background-color:#282c34;
}

.actionsStyle {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

h3 {
    padding-top:25px;
    padding-bottom:10px;
}

.button{
    margin-bottom:10px;
    background-color: #006080;
    border-color:#006080;
}

.button:hover{
    background-color:#00AAB7;
}